*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-content {
  display: flex;
}

.content {
  width: calc(100% - 200px);
  height: auto;
}
.content iframe {
  position: relative;
  width: 100%;
  height: 100%;
}
